<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <Title>Edit</Title>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" media="screen" />
</head>
<body>
<div th:replace="header :: header"></div>
<div class="container mt-2">
    <form class="form-horizontal" th:action="@{/update}" name="edit_form" id="edit_form"
          method="post" role="form">
        <div class="form-group">
            <input type="hidden" id="id" th:name="id" th:value="${file.id}" th:field="${file.id}"/>
        </div>
        <div class="form-group">
            <label for="fileName">Filename: </label>
            <input type="text" class="form-control" id="fileName" th:name="fileName" th:value="${file.fileName}" readonly th:field="${file.fileName}">
        </div>
        <div class="form-group">
            <label for="author">New author: </label>
            <input type="text" class="form-control" id="author" th:name="author" placeholder="Write the author" th:value="${file.author}" maxlength="255" aria-describedby="authorHelp" th:field="${file.author}">
            <small id="authorHelp" class="form-text text-muted">Field can be empty but maximum length is 255.</small>
        </div>
        <div class="form-group">
            <label for="author">New comment: </label>
            <input type="text" class="form-control" id="comment" th:name="comment" placeholder="Write a comment" th:value="${file.comment}" maxlength="255" aria-describedby="commentHelp" th:field="${file.comment}">
            <small id="commentHelp" class="form-text text-muted">Field can be empty but maximum is 255.</small>
        </div>
        <div class="form-group">
            <label for="date">Date: </label>
            <input type="text" class="form-control" id="date" th:name="date" th:value="${#dates.format(file.placedAt, 'dd-MMM-yyyy HH:mm')}" aria-describedby="dateHelp" readonly>
            <small id="dateHelp" class="form-text text-muted">Date will be updated after submit.</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>