<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-fixed-top navbar-light bg-light">
            <a class=navbar-brand href="#">FILES STORAGE</a>
            <div>
                <ul class="navbar-nav">
                    <a class="nav-item nav-link" href="/">My files</a>
                    <a class="nav-item nav-link" href="/upload">Upload new file</a>
                </ul>
            </div>
    </nav>
</div>
</html>